apiVersion: v1
kind: Service
metadata:
  name: {{ svc.name }}
  namespace: {{ target_env }}
  labels:
    app: {{ svc.name }}
    env: {{ target_env }}
spec:
  type: ClusterIP
  selector:
    app: {{ svc.name }}
    env: {{ target_env }}
  ports:
    - port: 8080
      targetPort: {{ svc.port }}
